## FDMS TME3  

Kaggle [How Much Did It Rain? II](https://www.kaggle.com/c/how-much-did-it-rain-ii)

Florian Toque & Paul Willot

In [1]:
%matplotlib inline
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random
import pandas as pd

In [2]:
filename = "data/train.csv"
train = pd.read_csv(filename)

In [4]:
mini_train = pd.read_csv(filename,nrows=100)
mini_train[mini_train["Ref_5x5_10th"]]

KeyError: '[  nan   nan   nan   nan   nan   nan   5.   22.5  15.5  14.   16.5  12.\n  19.   14.   11.    3.5  14.5  16.5   nan   nan   nan   nan   nan   nan\n   nan   nan   nan   nan   nan   nan  16.   14.   24.5   nan   nan   nan\n  10.5  33.5  33.5   nan   nan   nan   8.5   nan   nan   nan   nan   nan\n   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan   nan\n   nan   nan   nan   nan  10.5   nan   nan   nan   nan   nan   nan   nan\n   nan   nan   nan   nan   nan   nan   nan   nan  17.5   nan   nan  19.\n  22.5  22.   13.5  14.    nan   nan   nan   nan   nan   nan   nan   nan\n   nan   nan   nan   nan] not in index'

In [55]:
mini_train_clean = mini_train[[not i for i in np.isnan(mini_train["Ref_5x5_10th"])]]

In [82]:
mini_train_clean.ix(1)

In [4]:
for i in np.arange(1,11):
    print(np.random.choice(("dac a dit","dick and dac")))

dick and dac
dac a dit
dick and dac
dick and dac
dick and dac
dac a dit
dick and dac
dac a dit
dac a dit
dick and dac

In [2]:
rain_train = pd.read_csv('./data/reduced_train.csv')
rain_train.head()

,Id,minutes_past,radardist_km,Ref,Ref_5x5_10th,Ref_5x5_50th,Ref_5x5_90th,RefComposite,RefComposite_5x5_10th,RefComposite_5x5_50th,...,RhoHV_5x5_90th,Zdr,Zdr_5x5_10th,Zdr_5x5_50th,Zdr_5x5_90th,Kdp,Kdp_5x5_10th,Kdp_5x5_50th,Kdp_5x5_90th,Expected
0,1,3,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254
1,1,16,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254
2,1,25,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254
3,1,35,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254
4,1,45,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254

In [3]:
rain_train.describe()

,Id,minutes_past,radardist_km,Ref,Ref_5x5_10th,Ref_5x5_50th,Ref_5x5_90th,RefComposite,RefComposite_5x5_10th,RefComposite_5x5_50th,...,RhoHV_5x5_90th,Zdr,Zdr_5x5_10th,Zdr_5x5_50th,Zdr_5x5_90th,Kdp,Kdp_5x5_10th,Kdp_5x5_50th,Kdp_5x5_90th,Expected
count,999.000000,999.000000,999.000000,478.000000,408.000000,483.000000,559.000000,513.000000,457.000000,518.000000,...,388.000000,340.000000,302.000000,340.000000,388.000000,289.000000,252.000000,286.000000,341.000000,999.000000
mean,48.452452,29.549550,11.490490,23.031381,19.807598,22.595238,26.615385,25.129630,22.310722,24.838803,...,1.018359,0.581066,-0.581126,0.413419,1.856959,0.061484,-3.407266,-0.176054,3.755743,152.523533
std,28.412180,17.421605,4.166819,9.556138,9.311778,9.448388,9.921674,9.865267,9.474039,9.654454,...,0.050362,1.143212,0.890693,0.732893,1.304650,3.806644,2.737082,1.845907,3.419154,471.297121
min,1.000000,0.000000,2.000000,-2.500000,-7.500000,-3.500000,-1.500000,-1.000000,-4.500000,-1.500000,...,0.208333,-2.500000,-4.625000,-2.125000,-2.000000,-23.870010,-17.910004,-22.460007,-13.230011,0.010000
25%,23.000000,14.000000,9.000000,17.000000,14.000000,17.000000,20.000000,19.000000,16.500000,18.500000,...,0.998333,0.000000,-1.109375,0.000000,1.062500,-1.410004,-4.230011,-0.710007,1.759994,0.350000
50%,48.000000,29.000000,12.000000,23.000000,20.250000,23.000000,27.500000,24.500000,22.000000,24.500000,...,1.011667,0.500000,-0.500000,0.312500,1.562500,0.349991,-2.470001,0.000000,2.819992,1.270001
75%,73.000000,45.000000,14.000000,30.000000,26.000000,29.500000,34.000000,32.000000,28.500000,31.500000,...,1.051667,1.062500,0.062500,0.750000,2.250000,1.759994,-1.635006,0.699997,5.279999,4.191002
max,97.000000,59.000000,20.000000,56.500000,56.500000,58.500000,63.000000,59.000000,56.500000,59.000000,...,1.051667,7.937500,1.500000,7.937500,7.937500,14.619995,1.059998,3.509994,25.049988,2976.627700

In [6]:
d = {'a':1,'b':2}

In [8]:
d['c']

KeyError: 'c'